/*-- scss:defaults --*/

/*-- scss:rules --*/

$module-bg-color: rgba(188, 188, 254, 0.25);
$module-bg-color-highlight: rgba(188, 188, 254, 0.75);


/* Prevent anchor links from overlapping with header:
   https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors
*/
html {
  scroll-padding-top: 85px;
}


/* Override built-in style which adds space after nested list elements */
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0px !important;
}


/* Custom "blocks" for schedule elements */
.schedule-item {
  padding: 0em 1em 1em 3em;
  margin-bottom: 15px;
  margin-top: 15px;
}

.break {
  border: 1px dashed #2780e3;
  border-radius: 5px;
}

.module {
  border: 1px solid #2780e3;
  border-radius: 5px;
  background-color: $module-bg-color;
}

.module-resource {
  padding: 0em 1em 0em 2em;
  position: relative;
  vertical-align: middle;
}

.slides:before {
  content: "🖥️";
  left: 5px;
  position: absolute;
}

.slides-extra:before {
  content: "➕";
  left: 5px;
  position: absolute;
}

.video:before {
  content: "🎥";
  font-family: var(--bs-body-font-family);
  left: 5px;
  position: absolute;
}

.exercise:before {
  content: "💪";
  font-family: var(--bs-body-font-family);
  left: 5px;
  position: absolute;
}

.discussion:before {
  content: "💬";
  font-family: var(--bs-body-font-family);
  left: 5px;
  position: absolute;
}

/* Highlight target when using an anchor link */
.schedule-item:target {
   animation-name: ref-animation;
   animation-duration: 3s;
}
@keyframes ref-animation {
   from { background-color: $module-bg-color-highlight; }
}
