/* css styles */

.module {
  padding: 1em 1em 1em 3em;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid #2780e3;
  border-radius: 5px;
}

.module-resource {
  padding: 0em 1em 0em 2em;
  position: relative;
}

.slides:before {
  content: "\f108";
  font-family: FontAwesome;
  left: 5px;
  position: absolute;
}

.video:before {
  content: "\f03d";
  font-family: FontAwesome;
  left: 5px;
  position: absolute;
}
